@keyframes popIn {
    from{transform: translate(-50%, -60%) scale(0.9); opacity: 0;} 
    to {transform: translate(-50%, -50%) scale(1); opacity: 1;}
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.35);
    display: none;
    z-index: 999;
}

.popup{
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    width: 300px;
    z-index: 1000;
    animation: popIn 0.3s ease;
    align-items: center;
    justify-content: right;
    text-align: center;
    display: none;
}
